.login{
    margin-top: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login>.login-body{
    background-color: white;
    width: 40%;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
}
.login>.login-body>.item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.login>.login-body>.item>.table{
    color: black;
    font-size: 28px;
    width: 80px;
    height: 45px;
    cursor: default;
    user-select: none;
}
.login>.login-body>.item>input{
    margin: 10px 5px;
    padding: 0 10px;
    border: 1px solid #696969;
    font-size: 18px;
    width: 75%;
    height: 30px;
    transition: all 0.3s ease-in-out;
}
.login>.login-body>.item>input:focus{
    background-color: #ddd;
    outline: none;
}
.login>.login-body>.item>input:hover{
    background-color: #eee;
    border: 1px solid black;
}
.login>.login-body>.item>input:invalid{
    transition: all 1s ease-in-out;
    border: 1px solid red;
}
button{
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #888;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: #eee;
    border: 1px solid #555;
}
.info{

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.info>.info-body{
    background-color: white;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
    padding: 150px 0;
}
.info>.info-body>.item{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.info>.info-body>.item>.table,.info>.info-body>.item>.msg{
    display: inline-block;
}
.info>.info-body>.item>.table{
    cursor: default;
    user-select: none;
    font-weight: bold;
}
