/*- scrollbar -*/
::-webkit-scrollbar {
    width: 5px;
    opacity: 0.1;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #777;
}
::-webkit-scrollbar-thumb:vertical:active {
    background-color: #555;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background-color: #ffffff;
}